<head>
  <meta charset="UTF-8">
  <titlemedication tracker></title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://kit.fontawesome.com/059e6534f1.js" crossorigin="anonymous"></script>
</head>

<body>
   
  <div class="flex-column justify-space-around">
   
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
  </div>
  </body>

</html>
