<head>
  <meta charset="UTF-8">
  <titlemedication tracke></title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="home-container">
   
     
        <h1>Medication tracker</h1>
        <form class="new-med-form">
          
        <input id="name-box" name="med-name" type="text" placeholder="name" />
         <input id="dosage-box" name="med-dosage" type="text" placeholder="dosage" />
          <input id="frequency-box" name="med-frequency" type="text" placeholder="frequency" />
           <input id="taken-box" name="med-taken" type="text" placeholder="taken" />
           <input id="quantity-box" name="med-quantity" type="text" placeholder="quantity" />
           <button type="submit">Add Medication</button>
        </form>
        <div class="meds-container">
    
    {{#each medications as |medication|}}
      {{> meds}}
    {{/each}}
        </div>
  </div>
  </body>

</html>

<script src="/js/add-med.js"></script>
