

  <div class="login-container">

    <h1 class="login-heading"> Medication Tracker</h1>
    <form class="login-form">

    <input id="email-box" class="email-box box" type="text" placeholder="email"/>
    <input id="password-box" class="password box" type="text" placeholder="password"/>
    <button class="loginbtn" type="submit">login</button>
    <a class ="signupbtn" href="/signup" >Don't Have an Account? Sign Up for Free</a>
    </form>
  </div>

<script src="/js/login.js"></script>