

  <div class="login-container">

    <h1 class="login-heading"> Medication Tracker</h1>

    <input class="email-box box" type="text" placeholder="email"/>
    <input class="password box" type="text" placeholder="password"/>
    <button class="loginbtn" type="submit">login</button>
    <a class ="signupbtn" href="/signup" >Don't Have an Account? Sign Up for Free</a>
  </div>
