<div class="login-container">
    <h1 class="login-heading"> Medication Tracker</h1>
  <form id="signup-form" class="signup-form">
    <input
      id="username-signup"
      class="username-box box"
      type="text"
      placeholder="username"
    />

    <input
      id="email-signup"
      class="email-box box"
      type="text"
      placeholder="email"
    />
    <input
      id="password-signup"
      class="password box"
      type="text"
      placeholder="password"
    />
    <button class="loginbtn" type="submit">signup</button>
  </form>
    <a class="signupbtn" href="/login">Already Have an Account? Login </a>
</div>

<script src="/js/signup.js"></script>