.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.home-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
body {
  margin: 0;
}

.box {
  padding: 10px;
  margin: 5px;
  width: 300px;
  border-radius: 12px;
  border: 2px solid black;
}
.login-container {
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url("./Images/login_photo.jpg");
}
.login-heading {
  font-size: 60px;
  font-weight: bold;
  -webkit-text-stroke: 2px black;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.loginbtn {
  padding: 8px;
  border-radius: 8px;
  background-color: white;
  font-size: 12px;
  font-weight: bold;
  -webkit-text-stroke:0.5px black;
  width: 150px;
  border: 2px solid black;
}

.signupbtn {
  padding : 20px;
  font-size: 18px;
  font-weight: bold;
  color: orange;
  text-decoration: none;
  -webkit-text-stroke:1px black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.form-group .form-control {
  padding: 10px;
  margin: 5px;
  width: 300px;
  border-radius: 12px;
  border: 2px solid black;
}

.has-success .form-control {
  border-bottom: 2px solid #168b3f;
}

.has-danger .form-control {
  border-bottom: 2px solid #dc1d34;
}

.form-group .text-help {
  color: #dc1d34;
}

.inline-label label{
  display: inline;
}

.pristine-error {
  display: table;

.new-med-form{
  display: flex;
  flex-direction: column;
  
  align-items: center;
}

.new-med-form input{
  padding:10px;
  border-radius: 5px;
  width: 250px;
  margin: 5px;
  border: 1px solid black;
  
}
.new-med-form button{
  padding:5px;
  border-radius: 5px;
  width: 180px;
  margin: 5px;

}

.med-container ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  text-decoration: none;
  padding: 0;
}
.med-container{
  border: 1px solid black;
  border-radius: 5px;
  width: 300px;
  margin: 10px;
  padding: 10px;
  margin-bottom:50px;

}
.meds-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}

*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.delete-med-btn{
  padding:5px;
  border-radius: 5px;
  width: 180px;
  margin: 5px;
margin-left: 60px;
margin: top 20px;

}